input,select {
    box-shadow: 10px 10px 42px 0px rgba(138, 43, 226, 0.58);
    box-shadow: 10px 10px 34px -9px rgba(0,0,0,0.75);

    border: none;
    height: 35px;
  }
  .row {
    box-shadow: 10px 10px 74px 3px rgba(138, 43, 226, 0.75);
    box-shadow: 10px 10px 34px -9px rgba(0,0,0,0.75);
  }
  .form {
    box-shadow: 10px 10px 49px 6px rgba(255, 255, 255, 0.58);
  }
  .ele {
    font-weight: 500;
  }
  .active {
    border-bottom: 2px solid white;
  }
  .row{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .link{
    color: white;  
  }
  @media only screen and (max-width: 600px) {
    .row {
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;
    }
  }