<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="path/from/html/page/to/jquery.min.js"></script>
  <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   
  crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>Mini Project</title>

<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6" style="background-color: blueviolet; color: white;">
        <div class="nav m-2">
          <div class="d-inline p-2 ele active"> Base Converter</div>
          <div class="d-inline p-2 ele rounded"><a href='calculator_page' style="color: white; text-decoration: none">Calculator</a></div>
        </div>
        {% load static %}<img src="{% static 'images/change-.png' %}" alt="" class="mt-5 d-none d-md-block"
          style="width: 100%; background-color: blueviolet;">
      </div>
      <div class="col-md-6 form p-4 py-3 pb-2" style="color: rgb(138, 43, 226);">
        <div class="m-2">
          <h3><em><b><i>Base Converter</i></b></em></h3>
          <form id="form">
            <div class="form-group">
              {% csrf_token %}
              <label for=""><i><b>Enter Number</b></i></label>
              <input type="text" class="form-control rounded-pill my-1" name='name' style="border: none;"
                id="name" placeholder="Enter Number">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1"><i><b>From base</b></i></label>
              <select class="form-control rounded-pill my-1" name='baseto' id="basefrom">
                <option value="2">2(Binary)</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8(octal)</option>
                <option value="9">9</option>
                <option value="10" selected>10(decimal)</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16(hex)</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1"><i><b>To base</b></i></label>
              <select class="form-control rounded-pill my-1" name="basefrom" id="baseto">
                <option value="2" selected>2(Binary)</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8(octal)</option>
                <option value="9">9</option>
                <option value="10">10(decimal)</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16(hex)</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>

              </select>
            </div>
            <button type="submit" class="btn my-2" style="background-color: rgb(138, 43, 226); color: white;"><em><i>Convert</i></em></button>
            <div class="form-group">
              <label for="exampleFormControlTextarea1"><b>Answer</b></label>
              <textarea class="form-control" style="height: 40px" 
              id="exampleFormControlTextarea1" >{{ans}}</textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).on('submit','#form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'convert_base',
            data:
            {
                name:$("#name").val(),
                baseto:$("#baseto").val(),
                basefrom:$("#basefrom").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(data){
              $('textarea').html(data);        
            }
            })
        })
    </script>
</body>
</html>
